$primary-color: rgb(83, 83, 220);
$color-text-dark: #7300B5;
$color-text-light: #D28BFC;
$black-color: #292929;
$link-color: #535066;
$text-color: #262C33;
$white-color: #fff;
$border-color: #DFDFDF;
$color-primary-light: #8e9efc;
$color-primary-dark: #1c3eff;

$header-color: rgba($color: rgb(201, 201, 201), $alpha: 0.2);
$bg-active-color: rgba($color: blue, $alpha: 0.8);