.btn {
  padding: 8px 16px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  color: $text-color;
  font-size: 0.9rem;
  border: 1px solid $border-color;
  border-radius: 4px;
  transition: ease-in-out all 0.2s;
  display: inline-block;

  &-primary {
    color: $text-color;
    background-color: $primary-color;
  }
  &-hover {
    &:hover {
      background-color: rgba($color: #1c1b1d, $alpha: 0.9);
      color: rgba($color: white, $alpha: 0.9) !important;
    }
  }

  &-active {
    background-color: $bg-active-color;
    color: white;
    transition: all 0.4s ease-in-out;
  }


  &-white {
    background-color: #ffffff;
    color: black;
  }

  &-circle {
    border-radius: 50%;
  }

}