@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    border-sizing: border-box;
}


html{
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  line-height: 1.5rem;
}

body{
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #D7D7D7;
}

ul{
  list-style: none;
  margin-left: 0;
}

a{
  text-decoration: none;
  color: #1d2124;
}
p, span, ul, li, a {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
}

input, button {
  outline: none;
  padding: 8px 12px;
  font-size: 1.4rem;
}